# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# App specific
storage/
uploads/
shared_folder/

# Testing
.pytest_cache/
test_*.txt
run_tests.py
